<!DOCTYPE html>
<html>

<head>
  <title>Test Reporter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  
  <style type="text/css">
    @charset "UTF-8";
  
    .service-stats-passed {
      color: green;
      font-weight: bold;
    }

    .service-stats-failed {
      color: red;
      font-weight: bold;
    }
  </style>

</head>

<body ng-app>
  
  <div class="container">
    <%= yield %>
  </div>

  <%#<footer class="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer>%>

  <script>
    function ReportsController($scope, $log, $http) {
        $scope.isLoading = true;
        $scope.reports = [];
        $scope.hasStats = hasStats;

        activate();

        function activate() {
          $http.get("reports/ped-match").then(function (response) {
              $scope.reports = sortData(response.data);
              $scope.isLoading = false;
          }, function(error) {
            $log.error(error);
            $scope.isLoading = false;
          });
        }
        
        function sortData(data) {
          var dataArray = [];
          angular.forEach(data, function(value, key){
            dataArray.push({date: key, details: value});
          });
          return dataArray.sort(function(a, b) {
              var dateA = new Date(a.date);
              var dateB = new Date(b.date);
              if (dateA > dateB) {
                return -1;
              }
              if (dateA < dateB) {
                return 1;
              }
              return 0;
            });
        }

        function hasStats(serviceInfo) {
          return ('passed' in serviceInfo || 'failed' in serviceInfo);
        }
    };
  </script>

</body>
</html>